.small-table {
    display: flex;
    flex-direction: column;
    max-height: 464px;
    overflow-y: scroll;
    gap: 16px;

}

.big-table_extra {
    text-align: center;
    border: 10px solid rgb(128, 0, 124);
}