.image {
    width: 240px;
    height: 120px;
    display: flex;

}

.card {
    width: 272px;
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
}

.price__container {
    height: 24px;
    display: flex;
    align-items: center;

}

.card__title {
    display: flex;
    text-align: center;
}